:root {
  --theme-color: rgb(251, 249, 250);
  --primary-color: rgb(113, 155, 142);
  --secondary-color: rgb(187, 187, 187);
  --text-color-inverse: #e5e5e5;
  --text-color: black;
  --menu-mobile-background-color: rgb(61, 85, 77);

  --accent-color: var(--primary-color);
  --primary-color-inverse: black ;

  --navbar-shallow: 0 4px 5px #e5e5e5;
  --tag-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  --transition: 0.2s ease-in-out ;
  color-scheme: light;
  
  }


:root[data-theme="dark"] {

    --theme-color: rgb(113, 155, 142);
    --primary-color: rgb(61, 85, 77);
    --secondary-color: #fcfcfc;
    --text-color: rgba(255, 255, 255, 0.87);
    --text-color-inverse: var(--text-color) ;
    --menu-mobile-background-color: rgba(113, 155, 142);

    --accent-color: var(--secondary-color);
    --navbar-shallow: 0 1px  rgba(51, 85, 57, 0.8);
    --tag-shadow: 0 0 0 1px #ffffff;
    color-scheme: dark;
  }


form {
  color-scheme: light ;
}

* {
  transition: background-color var(--transition), box-shadow var(--transition);
}

svg {

  transition: color var(--transition);
}


  html {
    scroll-behavior: smooth;
  }
  
  section[id] {
    scroll-margin-top: 70px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  @media (min-width: 950px) {
    .horizontal-padding {
      padding-left: 70px;
      padding-right: 70px;
    }
    .vertical-padding {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }