.proyec-btn {
    background-color: var(--button-contact);
    color: var(--text-color-inverse);
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
  }
  .proyec-btn:hover {
    filter: brightness(130%);
  }
  .sources {
    max-width: 980px;
    position: static;
    background-color: var(--primary-color);

  }

  .source {
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 0;
    padding-top: 0;
  }


  .Plantilla{

    display: flex;
    align-items: center;
    font-size: 18px ;
    font-weight: 500;
    
  }

  .sources p,
  .sources h3,
  .sources ul {
    margin: 0;
    padding: 0;
  }
  
  .sources-title {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
  }
  
  .sources-details,
  .sources-form {
    display: grid;
    gap: 20px;
  }
  
  .sources-details-group,
  .sources-form-group {
    display: grid;
    gap: 3px;
  }
  
  .sources-label {
    text-transform: uppercase;
    font-weight: 200;
  }
  
  .sources-form input,
  .sources-form textarea {
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
  }
  
  .sources-form textarea {
    height: auto;
    resize: vertical;
  }
  
  .sources-form-submit {
    width: 100%;
    height: 50px;
  
    background-color: var(--button-contact);
    border-radius: 7px;
    color: var(--text-color-inverse);
    border: 1px solid var(--theme-color);
  
    cursor: pointer;
  }
  
  .sources-form-submit:hover {
    box-shadow: 0 0 14px var(--secondary-color);
  }
  
  .sources-list {
    list-style: none;
  
    display: flex;
    gap: 25px;
    justify-content: center;
  }
  
  .sources-list img {
    height: 25px;
  }
  
  .sources-list img:hover {
    filter: drop-shadow(0 0 5px var(--secondary-color));
  }

  .sources {
    font-size: 15px;
    padding: 20px;

    max-width: 100%;
    margin: 0 auto;

    box-sizing: border-box;
  }

  @media (min-width: 950px) {

    .sources {
      font-size: 20px;
      padding: 80px;
  
      max-width: 100%;
      margin: 0 auto;
  
      box-sizing: border-box;
    }
  
    .sources-title {
      font-size: 35px;
      text-align: left;
    }
  
    .sources-list {
      justify-content: flex-start;
    }
  
    .sources-list img {
      height: 35px;
    }
  
    .sources-title {
      grid-area: title;
    }
  
    .sources-details {
      grid-area: details;
    }
  
    .sources-form {
      grid-area: form;
    }
  
    .sources {
      grid-area: social;
    }
  

  }